@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Top Movies</h1>
        <br />
       

        <input type="button" title="Top 10 Movies" value="Top 10 Movies" onclick="location.href='@Url.Action("TopMovies", "Home")'" />
    </div>
